<div class="edit-stats">
    {{#with (lookup system.skills skillKey) as |skillGroup|}}
        {{#each skillGroup as |skill skillName|}}
            <details>
                <summary>
                    <span>{{localize skill.label}}</span>
                    <input class='header-stat stat-max' name='system.skills.{{@root.skillKey}}.{{skillName}}.value'
                        type='number' value='{{skill.value}}' placeholder='0' data-dtype='Number' />
                </summary>
                <div class='skill-modifiers'>
                    <tr>
                        <td colspan="3">
                            <label>{{localize "WITCHER.SKill.profession"}}:
                                <input class="skill-checkbox" type="checkbox"
                                    name="system.skills.{{@root.skillKey}}.{{skillName}}.isProfession"
                                    {{checked skill.isProfession}} />
                            </label>
                            <label>{{localize "WITCHER.SKill.pickup"}}:
                                <input class="skill-checkbox" type="checkbox"
                                    name="system.skills.{{@root.skillKey}}.{{skillName}}.isPickup"
                                    {{checked skill.isPickup}} />
                            </label>
                            <label>{{localize "WITCHER.SKill.learn"}}:
                                <input class="skill-checkbox" type="checkbox"
                                    name="system.skills.{{@root.skillKey}}.{{skillName}}.isLearned"
                                    {{checked skill.isLearned}} />
                            </label>
                        </td>
                    </tr>
                    {{#if skill.modifiers}}
                        <tr>
                            <td colspan="3">
                                {{#each skill.modifiers as |modifier value|}}
                                    <div class="list-modifiers" data-id="{{modifier.id}}">
                                        <input class="medium skill-mod-edit" data-field="name" type="text"
                                            value="{{modifier.name}}" />
                                        <input class="small skill-mod-edit" data-field="value" type="number"
                                            value="{{modifier.value}}" />
                                        <a class="delete-skill-modifier"><i class="fas fa-trash-alt"
                                                data-id="{{modifier.id}}"></i></a>
                                    </div>
                                {{/each}}
                            </td>
                        </tr>
                    {{/if}}
                    {{#if skill.activeEffectModifiers}}
                        <tr>
                            <td colspan="3">
                                <div class="list-modifiers">
                                    <input class="medium skill-mod-edit" type="text"
                                        value="{{localize "WITCHER.activeEffect.tab"}}" disabled />
                                    <input class="small skill-mod-edit" type="number"
                                        value="{{skill.activeEffectModifiers}}" disabled />
                                </div>
                            </td>
                        </tr>
                    {{/if}}
                </div>
            </details>
        {{/each}}
    {{/with}}
</div>