<ol class="items-list effects-list">
    {{#each effects as |section sid|}}
        <li class="items-header effects-header flexrow" data-effect-type="{{section.type}}">
            <h4 class="item-name header-name flexrow">{{localize section.label}}</h4>
            <h4 class="header-source">{{localize "WITCHER.activeEffect.source"}}</h4>
            <h4 class="header-source">{{localize "EFFECT.TabDuration"}}</h4>
            <div class="item-controls header-controls flexrow">
                <a class="effect-control" data-action="create" title="{{localize 'DOCUMENT.Create' type="Effect"}}">
                    <i class="fas fa-plus"></i> {{localize "DOCUMENT.New" type="Effect"}}
                </a>
            </div>
        </li>

        <ol class="item-list effect-list">
            {{#each section.effects as |effect|}}
                <li class="item effect-row flexrow" data-effect-id="{{effect.id}}"
                    data-parent-id="{{effect.parent.uuid}}" data-parent-uuid="{{effect.parent.uuid}}">
                    <div class="effect-first-row">
                        <a class="effect-display">
                            <div class="item-name effect-name flexrow ">
                                <img class="item-image" src="{{effect.img}}" />
                                <h4>{{effect.name}}</h4>
                            </div>
                            <div class="effect-source">{{effect.sourceName}}</div>
                            <div class="effect-duration">{{effect.duration.label}}</div>
                        </a>
                        <div class="item-controls effect-controls flexrow">
                            <a class="effect-control" data-action="toggle"
                                title="{{localize 'WITCHER.activeEffect.toggle'}}">
                                <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                            </a>
                            <a class="effect-control" data-action="edit"
                                title="{{localize 'DOCUMENT.Update' type="Effect"}}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="effect-control" data-action="delete"
                                title="{{localize 'DOCUMENT.Delete' type="Effect"}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <div class="effect-description invisible">
                        {{{effect.description}}}
                    </div>
                </li>
            {{/each}}
        </ol>
    {{/each}}
</ol>