<form class="{{cssClass}}" autocomplete="off">
    {{! Sheet Tab Navigation }}
    <nav class="sheet-tabs tabs flexrow" data-group="primary">
        <a data-tab="general">{{localize "WITCHER.Item.Settings.General"}}</a>
        <a data-tab="effects">{{localize "WITCHER.activeEffect.tab"}}</a>
    </nav>
    {{! Sheet Body }}
    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="general">
            <h3>{{localize "WITCHER.Item.Settings.General"}}</h3>
            <div>
                {{formGroup systemFields.defenseOptions value=item.system.defenseOptions options=config.defenseOptions localize=true}}
            </div>
        </div>
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> systems/TheWitcherTRPG/templates/partials/effect-part.hbs}}
        </div>
    </section>
</form>