<div>
    <h3>{{actor.name}}</h3>
    <div>
        <p>{{localize 'WITCHER.Actor.Hp'}}: {{actor.system.derivedStats.hp.value}}</p>
        <p>{{localize 'WITCHER.Monster.regeneration'}}: {{actor.system.regeneration}}</p>

    </div>
</div>