<h3>{{localize "WITCHER.Item.Settings.consumableProperties"}}</h3>
{{formGroup systemFields.isConsumable value=item.system.isConsumable localize=true}}
{{#if item.system.isConsumable}}
    {{formGroup systemFields.consumeProperties.fields.doesHeal value=item.system.consumeProperties.doesHeal localize=true}}
    {{#if item.system.consumeProperties.doesHeal}}
        {{formGroup systemFields.consumeProperties.fields.heal value=item.system.consumeProperties.heal localize=true}}
    {{/if}}
    <table class="item-bottom-table">
        <tr>
            <th><a class="add-effect" data-target='effects' title="{{localize "WITCHER.Item.AddEffect"}}"><i
                        class="fas fa-plus"></i></a>
            </th>
            <th>{{localize "WITCHER.Item.Effect"}}</th>
        </tr>
        {{#each item.system.consumeProperties.effects as |effect name|}}
            <tr class="list-item" data-id="{{effect.id}}">
                <td>
                    <a class="remove-effect" title="{{localize "WITCHER.Item.RemoveEffect"}}"><i
                            class="fas fa-minus"></i></a>
                </td>
                <td>
                    <input class="edit-effect item-effect" placeholder="{{localize "WITCHER.table.Name"}}"
                        data-field="name" type="text" value="{{effect.name}}" />
                </td>
                <td>
                    <select class="edit-effect item-effect" data-field="statusEffect">
                        {{selectOptions ../config.statusEffects blank='' selected=effect.statusEffect nameAttr='id' valueAttr="id" labelAttr="name" localize=true}}
                    </select>
                </td>
            </tr>
        {{/each}}
    </table>
    <table class="item-bottom-table">
        <tr>
            <th><a class="add-effect" data-target='removesEffects' title="{{localize "WITCHER.Item.AddEffect"}}"><i
                        class="fas fa-plus"></i></a>
            </th>
            <th>{{localize "WITCHER.Item.RemoveEffect"}}</th>
        </tr>
        {{#each item.system.consumeProperties.removesEffects as |effect name|}}
            <tr class="list-item" data-id="{{effect.id}}" data-target='removesEffects'>
                <td>
                    <a class="remove-effect" title="{{localize "WITCHER.Item.RemoveEffect"}}"><i
                            class="fas fa-minus"></i></a>
                </td>
                <td>
                    <select class="edit-effect item-effect" data-field="statusEffect">
                        {{selectOptions ../config.statusEffects blank='' selected=effect.statusEffect nameAttr='id' valueAttr="id" labelAttr="name" localize=true}}
                    </select>
                </td>
            </tr>
        {{/each}}
    </table>
{{/if}}
{{#if item.system.isConsumable}}
    <table class="information">
        {{#if item.system.consumeProperties.consumeGlobalModifiers}}
            <tr class="item-header-tablerow">
                <td>
                    <label>{{localize "WITCHER.Item.ConsumeProperties.appliesGlobalModifier"}}</label>
                </td>
                <td>
                    <input type="checkbox" name="system.consumeProperties.appliesGlobalModifier"
                        {{checked item.system.consumeProperties.appliesGlobalModifier}} />
                </td>
            </tr>
        {{/if}}
    </table>
{{/if}}
{{#if item.system.consumeProperties.appliesGlobalModifier}}
    <table>
        <tr>
            <th>{{localize "TYPES.Item.globalModifier"}}</th>
        </tr>
        {{#each item.system.consumeProperties.consumeGlobalModifiers as |modifier|}}
            <tr>
                <td class="list-item" data-id="{{modifier}}">
                    <a class="remove-global-modifier" title="{{localize "WITCHER.Item.RemoveGlobalModifier"}}"><i
                            class="fas fa-minus"></i></a>
                </td>
                <td class="list-item" data-id="{{modifier}}">
                    <input class="edit-global-modifier" placeholder="{{localize "WITCHER.table.Name"}}" type="text"
                        value="{{modifier}}" />
                </td>
            </tr>
        {{/each}}
    </table>
{{/if}}