<h3>{{localize "WITCHER.Item.Settings.DamageProperties"}}</h3>
{{formGroup systemFields.damageProperties.fields.armorPiercing value=item.system.damageProperties.armorPiercing localize=true}}
{{formGroup systemFields.damageProperties.fields.improvedArmorPiercing value=item.system.damageProperties.improvedArmorPiercing localize=true}}
{{formGroup systemFields.damageProperties.fields.ablating value=item.system.damageProperties.ablating localize=true}}
{{formGroup systemFields.damageProperties.fields.crushingForce value=item.system.damageProperties.crushingForce localize=true}}
{{formGroup systemFields.damageProperties.fields.damageIsAblation value=item.system.damageProperties.damageIsAblation localize=true}}
{{formGroup systemFields.damageProperties.fields.damageToAllLocations value=item.system.damageProperties.damageToAllLocations localize=true}}
{{formGroup systemFields.damageProperties.fields.bypassesWornArmor value=item.system.damageProperties.bypassesWornArmor localize=true}}
{{formGroup systemFields.damageProperties.fields.bypassesNaturalArmor value=item.system.damageProperties.bypassesNaturalArmor localize=true}}
{{formGroup systemFields.damageProperties.fields.variableDamage value=item.system.damageProperties.variableDamage localize=true}}
{{formGroup systemFields.damageProperties.fields.silverDamage value=item.system.damageProperties.silverDamage localize=true}}
{{formGroup systemFields.damageProperties.fields.isMeteorite value=item.system.damageProperties.isMeteorite localize=true}}
{{formGroup systemFields.damageProperties.fields.isNonLethal value=item.system.damageProperties.isNonLethal localize=true}}
{{formGroup systemFields.damageProperties.fields.defenseDifferenceMultiplier value=item.system.damageProperties.defenseDifferenceMultiplier localize=true}}
{{#if item.system.damageProperties.defenseDifferenceMultiplier}}
{{formGroup systemFields.damageProperties.fields.defenseMultiplierCap value=item.system.damageProperties.defenseMultiplierCap localize=true}}
{{/if}}

{{#if item.system.damageProperties.hitGlobalModifiers}}
    <table>
        <tr class="item-header-tablerow">
            <td>
                <label
                    for="appliesGlobalModifierToHit">{{localize "WITCHER.Item.DamageProperties.appliesGlobalModifierToHit"}}</label>
            </td>
            <td>
                <input type="checkbox" id="damageProperties.appliesGlobalModifierToHit"
                    name="system.damageProperties.appliesGlobalModifierToHit"
                    {{checked item.system.damageProperties.appliesGlobalModifierToHit}} />
            </td>
        </tr>
        {{#if item.system.damageProperties.appliesGlobalModifierToHit}}
            <tr>
                <th>{{localize "TYPES.Item.globalModifier"}}</th>
            </tr>
            {{#each item.system.damageProperties.hitGlobalModifiers as |modifier|}}
                <tr>
                    <td class="list-item" data-id="{{modifier}}" data-target='damageProperties.hitGlobalModifiers'>
                        <a class="remove-global-modifier-damageProperties"
                            title="{{localize "WITCHER.Item.RemoveGlobalModifier"}}"><i class="fas fa-minus"></i></a>
                    </td>
                    <td class="list-item" data-id="{{modifier}}" data-target='damageProperties.hitGlobalModifiers'>
                        <input class="edit-global-modifier-damageProperties"
                            placeholder="{{localize "WITCHER.table.Name"}}" type="text" value="{{modifier}}" />
                    </td>
                </tr>
            {{/each}}
        {{/if}}
    </table>
{{/if}}

{{#if system.damageProperties.appliesGlobalModifierToDamaged}}
    <table>
        <tr class="item-header-tablerow">
            <td>
                <label
                    for="appliesGlobalModifierToDamaged">{{localize "WITCHER.Item.DamageProperties.appliesGlobalModifierToDamaged"}}</label>
            </td>
            <td>
                <input type="checkbox" id="damageProperties.appliesGlobalModifierToDamaged"
                    name="system.damageProperties.appliesGlobalModifierToDamaged"
                    {{checked item.system.damageProperties.appliesGlobalModifierToDamaged}} />
            </td>
        </tr>
        {{#if item.system.damageProperties.appliesGlobalModifierToDamaged}}
            <tr>
                <th>{{localize "TYPES.Item.globalModifier"}}</th>
            </tr>
            {{#each item.system.damageProperties.damagedGlobalModifiers as |modifier|}}
                <tr>
                    <td class="list-item" data-id="{{modifier}}" data-target='damageProperties.damagedGlobalModifiers'>
                        <a class="remove-global-modifier-damageProperties"
                            title="{{localize "WITCHER.Item.RemoveGlobalModifier"}}"><i class="fas fa-minus"></i></a>
                    </td>
                    <td class="list-item" data-id="{{modifier}}" data-target='damageProperties.damagedGlobalModifiers'>
                        <input class="edit-global-modifier-damageProperties"
                            placeholder="{{localize "WITCHER.table.Name"}}" type="text" value="{{modifier}}" />
                    </td>
                </tr>
            {{/each}}
        {{/if}}
    </table>
{{/if}}

<table class="item-bottom-table">
    <tr>
        <th><a class="add-effect-damageProperties" data-target='system.damageProperties.effects'
                title="{{localize "WITCHER.Item.AddEffect"}}"><i class="fas fa-plus"></i></a>
        </th>
        <th>{{localize "WITCHER.Item.Effect"}}</th>
        <th></th>
        <th>{{localize "WITCHER.Percentage"}}</th>
    </tr>
    {{#each item.system.damageProperties.effects as |effect name|}}
        <tr class="list-item" data-id="{{effect.id}}">
            <td>
                <a class="remove-effect-damageProperties" title="{{localize "WITCHER.Item.RemoveEffect"}}"><i
                        class="fas fa-minus"></i></a>
            </td>
            <td>
                <input class="edit-effect-damageProperties item-effect" placeholder="{{localize "WITCHER.table.Name"}}"
                    data-field="name" type="text" value="{{effect.name}}" />
            </td>
            <td>
                <select class="edit-effect-damageProperties item-effect" data-field="statusEffect">
                    {{selectOptions ../config.statusEffects blank='' selected=effect.statusEffect nameAttr='id' valueAttr="id" labelAttr="name" localize=true}}
                </select>
            </td>
            <td>
                <input class="edit-effect-damageProperties" placeholder="%" data-field="percentage" type="text"
                    value="{{effect.percentage}}" data-dtype="Number" />
            </td>
        </tr>
        {{#if ../item.system.staminaIsVar }}
            <tr class="list-item" data-id="{{effect.id}}">
                <td>{{localize "WITCHER.Spell.variableEffect"}}</td>
                <td>
                    <input class="edit-effect-damageProperties" type="checkbox" data-field="varEffect"
                        {{checked effect.varEffect}} />
                </td>
            </tr>
        {{/if}}
    {{/each}}
</table>