<h3>{{localize "WITCHER.Item.Settings.DefenseProperties"}}</h3>
{{formGroup systemFields.regionProperties.fields.createRegionFromTemplate value=item.system.regionProperties.createRegionFromTemplate localize=true}}
{{formGroup systemFields.regionProperties.fields.behaviours.fields.tokenEnter value=item.system.regionProperties.behaviours.tokenEnter localize=true}}
{{formGroup systemFields.regionProperties.fields.behaviours.fields.tokenTurnStart value=item.system.regionProperties.behaviours.tokenTurnStart localize=true}}
{{formGroup systemFields.regionProperties.fields.behaviours.fields.tokenPreMove value=item.system.regionProperties.behaviours.tokenPreMove localize=true}}
{{formGroup systemFields.regionProperties.fields.behaviours.fields.tokenExit value=item.system.regionProperties.behaviours.tokenExit localize=true}}
