<h3>{{localize "WITCHER.Item.Settings.DefenseProperties"}}</h3>
<table class="information">
    <tr class="item-header-tablerow">
        <td>
            <label for="createRegion">{{localize "WITCHER.Item.RegionProperties.createRegionFromTemplate"}}</label>
        </td>
        <td>
            <input type="checkbox" id="createRegion" name="system.regionProperties.createRegionFromTemplate"
                {{checked item.system.regionProperties.createRegionFromTemplate}} />
        </td>
    </tr>
    <tr class="item-header-tablerow">
        <td>
            <label for="tokenEnter">{{localize "WITCHER.Item.RegionProperties.tokenEnter"}}</label>
        </td>
        <td>
            <input type="text" id="tokenEnter" name="system.regionProperties.behaviours.tokenEnter"
                value='{{item.system.regionProperties.behaviours.tokenEnter}}' />
        </td>
    </tr>
    <tr class="item-header-tablerow">
        <td>
            <label for="tokenTurnStart">{{localize "WITCHER.Item.RegionProperties.tokenTurnStart"}}</label>
        </td>
        <td>
            <input type="text" id="tokenTurnStart" name="system.regionProperties.behaviours.tokenTurnStart"
                value='{{item.system.regionProperties.behaviours.tokenTurnStart}}' />
        </td>
    </tr>
    <tr class="item-header-tablerow">
        <td>
            <label for="tokenExit">{{localize "WITCHER.Item.RegionProperties.tokenExit"}}</label>
        </td>
        <td>
            <input type="text" id="tokenExit" name="system.regionProperties.behaviours.tokenExit"
                value='{{item.system.regionProperties.behaviours.tokenExit}}' />
        </td>
    </tr>
</table>