<details open>
    <summary class="list-header armor-header">
        {{> "systems/TheWitcherTRPG/templates/sheets/actor/partials/character/inventory/inventory-items-summary.hbs" header=header itemType=itemType hasReliability=hasReliability}}
    </summary>
    <ol class="list item-table item-list">
        {{#each armors as |armor id|}}
            <li class="item list-item" data-item-id="{{armor.id}}">
                <div class="list-details armor-details">
                    <a class="item-display-info display-details">
                        <img class="item-image item-list-image" src="{{armor.img}}">
                        <span class="item-image item-list-image" data-tooltip="{{localize 'WITCHER.Item.openDescription'}}">
                            <i class="fa-solid fa-book"></i>
                        </span>
                    </a>
                    <div><a class="item-roll">{{armor.name}}</a></div>
                    <div class="list-label">
                        <span>
                            {{#each (armorPartsInfo armor.system) as |part|}}
                                <span class="armor-part-icon" data-tooltip="{{part.tooltip}}">
                                    <i class="fa-solid {{part.icon}}" style="color: {{part.color}};"></i>
                                </span>
                            {{/each}}
                        </span>

                        <span><input class="inline-edit item-quantity" data-field="system.quantity" type="text"
                                value="{{armor.system.quantity}}" data-dtype="Number" /></span>

                        <span class="list-controls">
                            <a class="item-chat" data-tooltip="{{localize 'WITCHER.Item.sendToChat'}}">
                                <i class="fa-regular fa-message"></i></a>
                            <a class="item-equip {{#if armor.system.equipped}}equipped{{/if}}" data-tooltip="{{#if armor.system.equipped}}
                                {{localize 'WITCHER.Item.Equipped'}}
                            {{else}}
                                {{localize 'WITCHER.Item.NotEquipped'}}
                            {{/if}}">
                                <i class="{{#if armor.system.equipped}}fa-solid{{else}}fa-regular{{/if}} fa-shield"></i>
                            </a>
                            {{#if armor.canBeRepaired}}
                                <a class="item-repair" data-tooltip="{{localize 'WITCHER.Repair.buttons.repair'}}"><i
                                        class="fas fa-screwdriver-wrench"></i></a>
                            {{/if}}
                        </span>
                    </div>
                </div>
                <div class="invisible item-info list-item-info">
                    <div class="item-tags">
                        {{#if armor.system.type}}
                            <span class="item-tag" data-tooltip="{{localize "WITCHER.Weapon.Type"}}">
                                <i class="fa-solid fa-shield-halved"></i>
                                {{armor.system.type}}
                            </span>
                        {{/if}}
                        {{#if armor.system.slashing}}
                            <span class="item-tag" data-tooltip="{{localize "WITCHER.DamageType.slashing"}}">
                                <i class="fa-solid fa-maximize"></i>
                                {{localize "WITCHER.DamageType.slashing"}}
                            </span>
                        {{/if}}
                        {{#if armor.system.piercing}}
                            <span class="item-tag" data-tooltip="{{localize "WITCHER.DamageType.piercing"}}">
                                <i class="fa-solid fa-maximize"></i>
                                {{localize "WITCHER.DamageType.piercing"}}
                            </span>
                        {{/if}}
                        {{#if armor.system.bludgeoning}}
                            <span class="item-tag" data-tooltip="{{localize "WITCHER.DamageType.bludgeoning"}}">
                                <i class="fa-solid fa-maximize"></i>
                                {{localize "WITCHER.DamageType.bludgeoning"}}
                            </span>
                        {{/if}}
                        {{#if armor.system.encumb}}
                            <span class="item-tag" data-tooltip="{{localize "WITCHER.Armor.EncumbranceValue"}}">
                                <i class="fa-solid fa-person-hiking"></i>
                                {{armor.system.encumb}}
                            </span>
                        {{/if}}
                        <span class="item-tag" data-tooltip="{{localize "WITCHER.Item.Weight"}}">
                            <i class="fa-solid fa-weight-hanging"></i>
                            {{armor.system.weight}}
                        </span>
                    </div>
                    {{#if armor.system.description}}
                        <div class="list-item-description">
                            <h3>{{localize "WITCHER.Item.Description"}}</h3>
                            {{armor.system.description}}
                        </div>
                    {{/if}}
                    {{#unless (eq type "enhancement")}}
                        {{#if armor.system.enhancementItems.length}}
                            <div class="weapon-enhancements">
                                <h3>{{localize "WITCHER.Dialog.Enhancement"}}</h3>
                                <div class="enhancement-list">
                                    {{#each armor.system.enhancementItems as |enhancement id|}}
                                        {{#if enhancement.img}}
                                            <div class="item weapon-enhancement" data-item-id="{{enhancement.id}}">
                                                <div class="enhancement-label">
                                                    <img class="enhancement-img no-margin"
                                                        src="{{enhancement.img}}" />
                                                    <span class="">{{enhancement.name}}</span>
                                                </div>
                                                <div class="enhancement-info invisible">
                                                    <div class="item-tags">
                                                        {{#each enhancement.system.effects as |effects|}}
                                                            {{#if (gt effects.percentage 0)}}
                                                                <div class="item-tag">
                                                                    {{effects.statusEffect}}
                                                                    {{effects.percentage}}%
                                                                </div>
                                                            {{/if}}
                                                        {{/each}}
                                                    </div>
                                                    <div class="enhancement-effects-name">
                                                        {{#each enhancement.system.effects as |effects|}}
                                                            {{effects.name}}
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                        {{else}}
                                            <a class="enhancement-label enhancement-weapon-slot">
                                                <div class="enhancement-slot">
                                                </div>
                                                <span>{{localize 'WITCHER.Item.equipEnhancement'}}</span>
                                            </a>
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                        {{/if}}
                    {{/unless}}
                </div>
            </li>
        {{/each}}
    </ol>
</details>