<details open>
    <summary class="list-header valuables-list-header">
        {{> "systems/TheWitcherTRPG/templates/sheets/actor/partials/character/inventory/inventory-items-summary.hbs" header=header itemType=itemType hasQuantity=hasQuantity}}
    </summary>

    <ol class="list item-table item-list">
        {{#each enhancements as |enhancement id|}}
            <li class="item list-item draggable" data-item-id="{{enhancement.id}}">
                <div class="list-details valuable-details">
                    <a class="item-display-info display-details">
                        <img class="item-image item-list-image" src="{{enhancement.img}}">
                        <span class="item-image item-list-image" data-tooltip="{{localize 'WITCHER.Item.openDescription'}}">
                            <i class="fa-solid fa-book"></i>
                        </span>
                    </a>
                    <div>{{enhancement.name}}</div>
                    <div class="list-label">
                        <span>
                            <input class="inline-edit item-quantity" data-field="system.quantity" type="text" value="{{enhancement.system.quantity}}" data-dtype="Number" />
                        </span>
                        <span class="list-controls">
                            <a class="item-chat" data-tooltip="{{localize 'WITCHER.Item.sendToChat'}}">
                                <i class="fa-regular fa-message"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="invisible item-info list-item-info">
                    <div class="item-tags">
                        {{#if enhancement.system.type}}
                            <span class="item-tag" data-tooltip="{{localize "WITCHER.Weapon.Type"}}">
                                <i class="fa-solid fa-signature"></i>
                                {{enhancement.system.type}}
                            </span>
                        {{/if}}
                        {{#if enhancement.system.weight}}
                            <span class="item-tag" data-tooltip="{{localize "WITCHER.Item.Weight"}}">
                                <i class="fa-solid fa-weight-hanging"></i>
                                {{enhancement.system.weight}}
                            </span>
                        {{/if}}
                        {{#if enhancement.system.cost}}
                            <span class="item-tag" data-tooltip="{{localize "WITCHER.ComponentsList.cost"}}">
                                <i class="fa-solid fa-coins"></i>
                                {{enhancement.system.cost}}
                            </span>
                        {{/if}}
                        {{#each enhancement.system.effects as |effects|}}
                            {{#if (gt effects.percentage 0)}}
                                <div class="item-tag">
                                    {{effects.statusEffect}}
                                    {{effects.percentage}}%
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                    <div class="enhancement-effects-name">
                        <h3>{{localize 'WITCHER.Item.Effect'}}</h3>
                        {{#each enhancement.system.effects as |effects|}}
                            {{effects.name}}
                        {{/each}}
                    </div>
                </div>
            </li>
        {{/each}}
    </ol>
</details>