<h1>
    <img class="item-img" src={{data.item.img}} />
    {{#if isRequest}}
    <span>{{data.actor.name}} {{ localize "WITCHER.Repair.chat.requestTitle" }} {{data.item.name}}</span>
    {{else}}
    <span>{{ localize "WITCHER.Repair.dialog.title" }} {{data.item.name}}</span>
    {{/if}}
</h1>

<h3><b>{{ localize "WITCHER.Repair.params.repairDC" }}: {{ data.repairDC }}</b></h3>
<p>{{ data.repairDCForumulae }}</p>
<h3><b>{{ localize "WITCHER.Repair.params.damagedLocations" }}</b></h3>
<table>
    <tbody>
        {{#each data.damagedLocations}}
        <tr class="tablerow item">
            <td>{{label}}</td>
            <td>{{reliabilityValue}}</td>
            <td>&#8658;</td>
            <td>{{maxReliabilityValue}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{#if showComponents}}
<h3><b>{{ localize "WITCHER.Repair.params.components" }}</b></h3>
<table>
    <tbody>
        {{#each data.ownedComponents}}
        <tr class="tablerow item">
            <td>
                <img src="{{ img }}" class="chat-icon" />
            </td>
            <td>{{ name }} <b>(1)</b></td>
        </tr>
        {{/each}}
        {{#each data.missingComponents}}
        <tr class="tablerow item">
            <td colspan="2">{{ name }} <b>(1)</b></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
{{#if isRequest}}
<button data-owner="{{data.actor.id}}" data-item="{{data.item.id}}" class="request-repair">{{ localize "WITCHER.Repair.buttons.repair" }}</button>
{{/if}}