<div class="witcherTRPG">
  <h3>
    {{localize "WITCHER.currencyConverter.title"}}
  </h3>
  <div>
    {{localize "WITCHER.currencyConverter.from"}}: {{amount}} {{localize from}}
  </div>
  <div>
    {{localize "WITCHER.currencyConverter.to"}}: {{localize to}}
  </div>
  <div>
    {{localize "WITCHER.currencyConverter.fee"}}: {{fee}}%
  </div>
  <div>
    {{localize "WITCHER.currencyConverter.result"}}: {{result}} {{localize to}}
  </div>
</div>