<div class="witcherTRPG">
  <h3>
    {{localize "WITCHER.rewards.chat.title"}}: {{label}}
  </h3>
  {{#if ip}}
    <div>
      {{localize "WITCHER.rewards.chat.ip"}}: {{ip}}
    </div>
  {{/if}}
  {{#if currency}}
    <div>
      {{localize "WITCHER.rewards.chat.currency"}}: {{currency}} {{localize (concat "WITCHER.Currency." type)}}
    </div>
  {{/if}}
  <div>
    {{#each actors as |actor|}}
      <br>{{actor.name}}
    {{/each}}
  </div>
</div>