<section class="scrollable">
    <header class="item-header">
        <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        <a data-action="configureItem"><i class="fas fa-gear"></i></a>
        <general>
            <itemimage>
                {{#if (and (includes (getSetting "clickableImageItemTypes") item.type)  (or (window "game" "user" "isGM") (eq (getSetting "clickableImageCheckboxForGMOnly") false)) )}}
                    <div class="item-header-wrapper">
                        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                        <div>
                            <input type="checkbox" id="clickable-image-{{item._id}}" name="system.clickableImage"
                                {{checked item.system.clickableImage}}>
                            <label for="clickable-image-{{item._id}}">{{localize "WITCHER.Item.ClickableImage"}}</label>
                        </div>
                    </div>
                {{else}}
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                {{/if}}
            </itemimage>
            <table class="information">
                <tr class="item-header-tablerow">
                    <td>
                        <label>{{localize "WITCHER.Spell.type"}}</label>
                    </td>
                    <td>
                        <label>{{localize "WITCHER.Spell.Hexes"}}</label>
                    </td>
                </tr>
                <tr class="item-header-tablerow">
                    <td>
                        <label>{{localize "WITCHER.Item.SourceBook"}}</label>
                    </td>
                    <td>
                        <input type="text" name="system.sourcebook" value="{{item.system.sourcebook}}" />
                    </td>
                </tr>
            </table>
        </general>
    </header>
    <table class="item-table">
        <tr>
            <th title="{{localize "WITCHER.Spell.StaCost"}}">{{localize "WITCHER.Spell.Short.StaCost"}}</th>
            <th>{{localize "WITCHER.Spell.Danger"}}</th>
        </tr>
        <tr>
            <td><input name="system.stamina" type="text" value="{{item.system.stamina}}" /></td>
            <td>
                <select name="system.danger" id="level-select">
                    {{selectOptions selects.danger selected=item.system.danger localize=true}}
                </select>
            </td>
        </tr>
    </table>
    <div class="grid">
        <label>{{localize "WITCHER.Item.Effect"}}</label>
        <textarea rows="10" name="system.effect">{{item.system.effect}}</textarea>
    </div>
    <div class="grid">
        <label>{{localize "WITCHER.Spell.Requirements"}}</label>
        <textarea rows="5" name="system.liftRequirement">{{item.system.liftRequirement}}</textarea>
    </div>
</section>