<form class="{{cssClass}}" autocomplete="off">
    <header class="item-header">
        <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        <a class="configure-item"><i class="fas fa-gear"></i></a>
        <general>
            <itemimage>
                {{#if (and (includes (getSetting "clickableImageItemTypes") item.type)  (or (window "game" "user" "isGM") (eq (getSetting "clickableImageCheckboxForGMOnly") false)) )}}
                    <div class="item-header-wrapper">
                        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                        <div>
                            <input type="checkbox" id="clickable-image-{{item._id}}" name="system.clickableImage"
                                {{checked item.system.clickableImage}}>
                            <label for="clickable-image-{{item._id}}">{{localize "WITCHER.Item.ClickableImage"}}</label>
                        </div>
                    </div>
                {{else}}
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                {{/if}}
            </itemimage>
            <table class="information">
                <tr class="item-header-tablerow">
                    <td>
                        <label>{{localize "WITCHER.Spell.type"}}</label>
                    </td>
                    <td>
                        <label>{{localize "WITCHER.Spell.Ritual.name"}}</label>
                    </td>
                </tr>
                <tr class="item-header-tablerow">
                    <td>
                        <label>{{localize "WITCHER.Actor.Profession.Level"}}</label>
                    </td>
                    <td>
                        <select name="system.level">
                            {{selectOptions selects.levelSpell selected=item.system.level localize=true}}
                        </select>
                    </td>
                </tr>
                <tr class="item-header-tablerow">
                    <td>
                        <label>{{localize "WITCHER.Item.Cost"}}</label>
                    </td>
                    <td>
                        <input type="text" name="system.cost" value="{{item.system.cost}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr class="item-header-tablerow">
                    <td>
                        <label>{{localize "WITCHER.Item.SourceBook"}}</label>
                    </td>
                    <td>
                        <input type="text" name="system.sourcebook" value="{{item.system.sourcebook}}" />
                    </td>
                </tr>
            </table>
        </general>
    </header>
    <table class="item-table">
        <tr>
            <th title="{{localize "WITCHER.Spell.Variable"}}">{{localize "WITCHER.Spell.Short.Variable"}}</th>
            {{#unless (eq item.system.staminaIsVar true)}}
                <th title="{{localize "WITCHER.Spell.StaCost"}}">{{localize "WITCHER.Spell.Short.StaCost"}}</th>
            {{/unless}}
            <th>{{localize "WITCHER.Spell.PrepTime"}}</th>
            <th>{{localize "WITCHER.Spell.DC"}}</th>
            <th>{{localize "WITCHER.Spell.Duration"}}</th>
        </tr>
        <tr>
            <td><input type="checkbox" name="system.staminaIsVar" {{checked item.system.staminaIsVar}} /></td>
            {{#unless (eq item.system.staminaIsVar true)}}
                <td><input name="system.stamina" type="text" value="{{item.system.stamina}}" /></td>
            {{/unless}}
            <td><input name="system.preparationTime" type="text" value="{{item.system.preparationTime}}" /></td>
            <td><input name="system.difficultyCheck" type="text" value="{{item.system.difficultyCheck}}" /></td>
            <td><input name="system.duration" type="text" value="{{item.system.duration}}" /></td>
        </tr>
    </table>
    <label>{{localize "WITCHER.Item.Effect"}}</label>
    <textarea rows="10" name="system.effect">{{item.system.effect}}</textarea>
    <label>{{localize "WITCHER.Spell.Ritual.components"}}</label>
    {{#if item.system.components}}
        <textarea rows="4" name="system.components">{{item.system.components}}</textarea>
    {{/if}}
    <div class="flex">
        <div class="spell-template-damage">
            <div>
                <label>{{localize "WITCHER.Spell.CreateTemplate"}}</label>
                <input type="checkbox" name="system.createTemplate" {{checked item.system.createTemplate}} />
            </div>
        </div>
        <table class="item-table">
            <tr>
                {{#if (eq item.system.createTemplate true)}}
                    <th>{{localize "WITCHER.Spell.Size"}} ({{localize "WITCHER.Spell.meters"}})</th>
                    <th>{{localize "WITCHER.Spell.Type"}}</th>
                    <th>{{localize "WITCHER.Spell.VisualEffectDuration"}}</th>
                {{/if}}
            </tr>
            <tr>
                {{#if (eq item.system.createTemplate true)}}
                    <td>
                        <input class="medium" placeholder="0" name="system.templateSize" type="text"
                            value="{{item.system.templateSize}}" />
                    </td>
                    <td>
                        <select name="system.templateType">
                            {{selectOptions selects.templateType selected=item.system.templateType localize=true}}
                        </select>
                    </td>
                    <td>
                        <input class="medium" placeholder="0" name="system.visualEffectDuration" type="number"
                            value="{{item.system.visualEffectDuration}}" />
                    </td>
                {{/if}}
            </tr>
        </table>
    </div>
    <div class='ritualComponents'>
        <h3>{{localize "WITCHER.Spell.Ritual.components"}}</h3>
        <table>
            {{#each item.system.ritualComponents as |component name|}}
                <tr class="list-item" data-uuid="{{component.item.uuid}}" data-target="ritualComponentUuids">
                    <th>
                        <a class="remove-component" title="{{localize " WITCHER.Item.RemoveComponent"}}"><i
                                class="fas fa-minus"></i></a>
                    </th>
                    <td>
                        <label>{{component.item.name}}</label>
                    </td>
                    <td>
                        <input class="edit-component" data-field="quantity" type="number" placeholder="0"
                            value="{{component.quantity}}" data-dtype="Number" />
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div class='alternateComponents'>
        <h3>{{localize "WITCHER.Spell.Ritual.alternateComponents"}}</h3>
        <table>
            {{#each item.system.alternateRitualComponents as |component name|}}
                <tr class="list-item" data-uuid="{{component.item.uuid}}" data-target="alternateRitualComponentUuids">
                    <th>
                        <a class="remove-component" title="{{localize " WITCHER.Item.RemoveComponent"}}"><i
                                class="fas fa-minus"></i></a>
                    </th>
                    <td>
                        <label>{{component.item.name}}</label>
                    </td>
                    <td>
                        <input class="edit-component" data-field="quantity" type="number" placeholder="0"
                            value="{{component.quantity}}" data-dtype="Number" />
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</form>