<div>
    <div class="profession-card">
        <h3>{{ item.system.skillPath3.skill1.skillName }}</h3>
        <div>
            {{formGroup systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.isAttack value=item.system.skillPath3.skill1.skillAttack.isAttack localize=true}}
            {{#if item.system.skillPath3.skill1.skillAttack.isAttack}}
            {{formGroup systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.usesWeapon value=item.system.skillPath3.skill1.skillAttack.usesWeapon localize=true}}
            {{formGroup systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageFormulaOverride value=item.system.skillPath3.skill1.skillAttack.damageFormulaOverride localize=true}}
            {{formGroup systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.defenseOptions value=item.system.skillPath3.skill1.skillAttack.defenseOptions localize=true}}
            <details>
                {{formGroup systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.armorPiercing value=item.system.skillPath3.skill1.skillAttack.damageProperties.armorPiercing localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.improvedArmorPiercing value=item.system.skillPath3.skill1.skillAttack.damageProperties.improvedArmorPiercing localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.ablating value=item.system.skillPath3.skill1.skillAttack.damageProperties.ablating localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.crushingForce value=item.system.skillPath3.skill1.skillAttack.damageProperties.crushingForce localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.damageIsAblation value=item.system.skillPath3.skill1.skillAttack.damageProperties.damageIsAblation localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.damageToAllLocations value=item.system.skillPath3.skill1.skillAttack.damageProperties.damageToAllLocations localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.bypassesWornArmor value=item.system.skillPath3.skill1.skillAttack.damageProperties.bypassesWornArmor localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.bypassesNaturalArmor value=item.system.skillPath3.skill1.skillAttack.damageProperties.bypassesNaturalArmor localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.variableDamage value=item.system.skillPath3.skill1.skillAttack.damageProperties.variableDamage localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.silverDamage value=item.system.skillPath3.skill1.skillAttack.damageProperties.silverDamage localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.isMeteorite value=item.system.skillPath3.skill1.skillAttack.damageProperties.isMeteorite localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.isNonLethal value=item.system.skillPath3.skill1.skillAttack.damageProperties.isNonLethal localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.defenseDifferenceMultiplier value=item.system.skillPath3.skill1.skillAttack.damageProperties.defenseDifferenceMultiplier localize=true}}
                {{#if item.system.skillPath3.skill1.skillAttack.damageProperties.defenseDifferenceMultiplier}}
                {{formGroup  systemFields.skillPath3.fields.skill1.fields.skillAttack.fields.damageProperties.fields.defenseMultiplierCap value=item.system.skillPath3.skill1.skillAttack.damageProperties.defenseMultiplierCap localize=true}}
                {{/if}}
                <table class="item-bottom-table">
                    <tr>
                        <th><a class="add-effect-damageProperties" data-target='system.damageProperties.effects'
                                title="{{localize "WITCHER.Item.AddEffect"}}" ><i class="fas fa-plus"></i></a>
                        </th>
                        <th>{{localize "WITCHER.Item.Effect"}}</th>
                        <th></th>
                        <th>{{localize "WITCHER.Percentage"}}</th>
                    </tr>
                    {{#each item.system.skillPath3.skill1.skillAttack.damageProperties.effects as |effect name|}}
                        <tr class="list-item" data-id="{{effect.id}}">
                            <td>
                                <a class="remove-effect-damageProperties" title="{{localize "WITCHER.Item.RemoveEffect"}}"><i
                                        class="fas fa-minus"></i></a>
                            </td>
                            <td>
                                <input class="edit-effect-damageProperties item-effect" placeholder="{{localize "WITCHER.table.Name"}}"
                                    data-field="name" type="text" value="{{effect.name}}" />
                            </td>
                            <td>
                                <select class="edit-effect-damageProperties item-effect" data-field="statusEffect">
                                    {{selectOptions ../config.statusEffects blank='' selected=effect.statusEffect nameAttr='id' valueAttr="id" labelAttr="name" localize=true}}
                                </select>
                            </td>
                            <td>
                                <input class="edit-effect-damageProperties" placeholder="%" data-field="percentage" type="text"
                                    value="{{effect.percentage}}" data-dtype="Number" />
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </details>
            {{/if}}
        </div>
    </div>
    <div class="profession-card">
        <h3>{{ item.system.skillPath3.skill2.skillName }}</h3>
        <div>
            {{formGroup systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.isAttack value=item.system.skillPath3.skill2.skillAttack.isAttack localize=true}}
            {{#if item.system.skillPath3.skill2.skillAttack.isAttack}}
            {{formGroup systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.usesWeapon value=item.system.skillPath3.skill2.skillAttack.usesWeapon localize=true}}
            {{formGroup systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageFormulaOverride value=item.system.skillPath3.skill2.skillAttack.damageFormulaOverride localize=true}}
            {{formGroup systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.defenseOptions value=item.system.skillPath3.skill2.skillAttack.defenseOptions localize=true}}
            <details>
                {{formGroup systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.armorPiercing value=item.system.skillPath3.skill2.skillAttack.damageProperties.armorPiercing localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.improvedArmorPiercing value=item.system.skillPath3.skill2.skillAttack.damageProperties.improvedArmorPiercing localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.ablating value=item.system.skillPath3.skill2.skillAttack.damageProperties.ablating localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.crushingForce value=item.system.skillPath3.skill2.skillAttack.damageProperties.crushingForce localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.damageIsAblation value=item.system.skillPath3.skill2.skillAttack.damageProperties.damageIsAblation localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.damageToAllLocations value=item.system.skillPath3.skill2.skillAttack.damageProperties.damageToAllLocations localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.bypassesWornArmor value=item.system.skillPath3.skill2.skillAttack.damageProperties.bypassesWornArmor localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.bypassesNaturalArmor value=item.system.skillPath3.skill2.skillAttack.damageProperties.bypassesNaturalArmor localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.variableDamage value=item.system.skillPath3.skill2.skillAttack.damageProperties.variableDamage localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.silverDamage value=item.system.skillPath3.skill2.skillAttack.damageProperties.silverDamage localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.isMeteorite value=item.system.skillPath3.skill2.skillAttack.damageProperties.isMeteorite localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.isNonLethal value=item.system.skillPath3.skill2.skillAttack.damageProperties.isNonLethal localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.defenseDifferenceMultiplier value=item.system.skillPath3.skill2.skillAttack.damageProperties.defenseDifferenceMultiplier localize=true}}
                {{#if item.system.skillPath3.skill2.skillAttack.damageProperties.defenseDifferenceMultiplier}}
                {{formGroup  systemFields.skillPath3.fields.skill2.fields.skillAttack.fields.damageProperties.fields.defenseMultiplierCap value=item.system.skillPath3.skill2.skillAttack.damageProperties.defenseMultiplierCap localize=true}}
                {{/if}}
                <table class="item-bottom-table">
                    <tr>
                        <th><a class="add-effect-damageProperties" data-target='system.damageProperties.effects'
                                title="{{localize "WITCHER.Item.AddEffect"}}" ><i class="fas fa-plus"></i></a>
                        </th>
                        <th>{{localize "WITCHER.Item.Effect"}}</th>
                        <th></th>
                        <th>{{localize "WITCHER.Percentage"}}</th>
                    </tr>
                    {{#each item.system.skillPath3.skill2.skillAttack.damageProperties.effects as |effect name|}}
                        <tr class="list-item" data-id="{{effect.id}}">
                            <td>
                                <a class="remove-effect-damageProperties" title="{{localize "WITCHER.Item.RemoveEffect"}}"><i
                                        class="fas fa-minus"></i></a>
                            </td>
                            <td>
                                <input class="edit-effect-damageProperties item-effect" placeholder="{{localize "WITCHER.table.Name"}}"
                                    data-field="name" type="text" value="{{effect.name}}" />
                            </td>
                            <td>
                                <select class="edit-effect-damageProperties item-effect" data-field="statusEffect">
                                    {{selectOptions ../config.statusEffects blank='' selected=effect.statusEffect nameAttr='id' valueAttr="id" labelAttr="name" localize=true}}
                                </select>
                            </td>
                            <td>
                                <input class="edit-effect-damageProperties" placeholder="%" data-field="percentage" type="text"
                                    value="{{effect.percentage}}" data-dtype="Number" />
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </details>
            {{/if}}
        </div>
    </div>
    <div class="profession-card">
        <h3>{{ item.system.skillPath3.skill3.skillName }}</h3>
        <div>
            {{formGroup systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.isAttack value=item.system.skillPath3.skill3.skillAttack.isAttack localize=true}}
            {{#if item.system.skillPath3.skill3.skillAttack.isAttack}}
            {{formGroup systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.usesWeapon value=item.system.skillPath3.skill3.skillAttack.usesWeapon localize=true}}
            {{formGroup systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageFormulaOverride value=item.system.skillPath3.skill3.skillAttack.damageFormulaOverride localize=true}}
            {{formGroup systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.defenseOptions value=item.system.skillPath3.skill3.skillAttack.defenseOptions localize=true}}
            <details>
                {{formGroup systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.armorPiercing value=item.system.skillPath3.skill3.skillAttack.damageProperties.armorPiercing localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.improvedArmorPiercing value=item.system.skillPath3.skill3.skillAttack.damageProperties.improvedArmorPiercing localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.ablating value=item.system.skillPath3.skill3.skillAttack.damageProperties.ablating localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.crushingForce value=item.system.skillPath3.skill3.skillAttack.damageProperties.crushingForce localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.damageIsAblation value=item.system.skillPath3.skill3.skillAttack.damageProperties.damageIsAblation localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.damageToAllLocations value=item.system.skillPath3.skill3.skillAttack.damageProperties.damageToAllLocations localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.bypassesWornArmor value=item.system.skillPath3.skill3.skillAttack.damageProperties.bypassesWornArmor localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.bypassesNaturalArmor value=item.system.skillPath3.skill3.skillAttack.damageProperties.bypassesNaturalArmor localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.variableDamage value=item.system.skillPath3.skill3.skillAttack.damageProperties.variableDamage localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.silverDamage value=item.system.skillPath3.skill3.skillAttack.damageProperties.silverDamage localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.isMeteorite value=item.system.skillPath3.skill3.skillAttack.damageProperties.isMeteorite localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.isNonLethal value=item.system.skillPath3.skill3.skillAttack.damageProperties.isNonLethal localize=true}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.defenseDifferenceMultiplier value=item.system.skillPath3.skill3.skillAttack.damageProperties.defenseDifferenceMultiplier localize=true}}
                {{#if item.system.skillPath3.skill3.skillAttack.damageProperties.defenseDifferenceMultiplier}}
                {{formGroup  systemFields.skillPath3.fields.skill3.fields.skillAttack.fields.damageProperties.fields.defenseMultiplierCap value=item.system.skillPath3.skill3.skillAttack.damageProperties.defenseMultiplierCap localize=true}}
                {{/if}}
                <table class="item-bottom-table">
                    <tr>
                        <th><a class="add-effect-damageProperties" data-target='system.damageProperties.effects'
                                title="{{localize "WITCHER.Item.AddEffect"}}" ><i class="fas fa-plus"></i></a>
                        </th>
                        <th>{{localize "WITCHER.Item.Effect"}}</th>
                        <th></th>
                        <th>{{localize "WITCHER.Percentage"}}</th>
                    </tr>
                    {{#each item.system.skillPath3.skill3.skillAttack.damageProperties.effects as |effect name|}}
                        <tr class="list-item" data-id="{{effect.id}}">
                            <td>
                                <a class="remove-effect-damageProperties" title="{{localize "WITCHER.Item.RemoveEffect"}}"><i
                                        class="fas fa-minus"></i></a>
                            </td>
                            <td>
                                <input class="edit-effect-damageProperties item-effect" placeholder="{{localize "WITCHER.table.Name"}}"
                                    data-field="name" type="text" value="{{effect.name}}" />
                            </td>
                            <td>
                                <select class="edit-effect-damageProperties item-effect" data-field="statusEffect">
                                    {{selectOptions ../config.statusEffects blank='' selected=effect.statusEffect nameAttr='id' valueAttr="id" labelAttr="name" localize=true}}
                                </select>
                            </td>
                            <td>
                                <input class="edit-effect-damageProperties" placeholder="%" data-field="percentage" type="text"
                                    value="{{effect.percentage}}" data-dtype="Number" />
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </details>
            {{/if}}
        </div>
    </div>
</div>
