{{#each stats as |details stat|}}
    {{#unless (eq (localize details.label) (localize 'WITCHER.Actor.Stat.Toxicity'))}}
        <span>{{localize details.label}}</span>
        <input class='header-stat stat-max' name='system.stats.{{stat}}.max' type='number' value='{{details.max}}' placeholder='0'data-dtype='Number' />

        {{#if details.isOpened}}
            <a class='stat-display stat-modifier-display'>
                <i class='fas fa-chevron-down'></i>
            </a>
        {{else}}
            <a class='stat-display stat-modifier-display'>
                <i class='fas fa-chevron-right'></i>
            </a>
        {{/if}}

        <div class='stat-modifiers'>
            {{#if details.isOpened}}
                <a class='add-modifier'><i class='fas fa-plus'></i></a>
                {{#each details.modifiers as |modifier value|}}
                    <div class='list-modifiers' data-id='{{modifier.id}}'>
                        <input class='medium list-mod-edit' data-field='name' type='text' value='{{modifier.name}}' />
                        <input class='small list-mod-edit' data-field='value' type='number' value='{{modifier.value}}' />
                        <a class='delete-stat'><i class='fas fa-trash-alt' data-id='{{modifier.id}}'></i></a>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    {{/unless}}
{{/each}}

{{#if reputation}}
    <span>{{localize 'WITCHER.Reputation'}}</span>
    <input class='header-stat stat-max' name='system.reputation.max' type='number' value='{{reputation.max}}' placeholder='0'data-dtype='Number' />

    {{#if reputation.isOpened}}
        <a class='stat-modifier-display' data-action="openModifiers" data-stat='reputation'>
            <i class='fas fa-chevron-down'></i>
        </a>
    {{else}}
        <a class='stat-modifier-display' data-action="openModifiers" data-stat='reputation'>
            <i class='fas fa-chevron-right'></i>
        </a>
    {{/if}}
{{/if}}
