<div class="tab {{tabs.general.cssClass}} scrollable standard-form" data-group="primary" data-tab="general">
    {{log this}}
    {{formGroup systemFields.headStopping value=document.system.headStopping localize=true}}
    {{formGroup systemFields.headMaxStopping value=document.system.headMaxStopping localize=true}}

    {{formGroup systemFields.torsoStopping value=document.system.torsoStopping localize=true}}
    {{formGroup systemFields.torsoMaxStopping value=document.system.torsoMaxStopping localize=true}}

    {{formGroup systemFields.leftArmStopping value=document.system.leftArmStopping localize=true}}
    {{formGroup systemFields.leftArmMaxStopping value=document.system.leftArmMaxStopping localize=true}}

    {{formGroup systemFields.rightArmStopping value=document.system.rightArmStopping localize=true}}
    {{formGroup systemFields.rightArmMaxStopping value=document.system.rightArmMaxStopping localize=true}}

    {{formGroup systemFields.leftLegStopping value=document.system.leftLegStopping localize=true}}
    {{formGroup systemFields.leftLegMaxStopping value=document.system.leftLegMaxStopping localize=true}}

    {{formGroup systemFields.rightLegStopping value=document.system.rightLegStopping localize=true}}
    {{formGroup systemFields.rightLegMaxStopping value=document.system.rightLegMaxStopping localize=true}}
</div>