<div class="tab {{tabs.general.cssClass}} scrollable standard-form" data-group="primary" data-tab="general">

    {{formGroup systemFields.head.fields.stoppingPower value=document.system.head.stoppingPower localize=true hint='WITCHER.Armor.LocationHead'}}
    {{formGroup systemFields.head.fields.maxStoppingPower value=document.system.head.maxStoppingPower localize=true hint='WITCHER.Armor.LocationHead'}}

    {{formGroup systemFields.torsoStopping value=document.system.torsoStopping localize=true hint='WITCHER.Armor.LocationTorso'}}
    {{formGroup systemFields.torsoMaxStopping value=document.system.torsoMaxStopping localize=true hint='WITCHER.Armor.LocationTorso'}}

    {{formGroup systemFields.leftArmStopping value=document.system.leftArmStopping localize=true hint='WITCHER.Armor.locationLeftArm'}}
    {{formGroup systemFields.leftArmMaxStopping value=document.system.leftArmMaxStopping localize=true hint='WITCHER.Armor.locationLeftArm'}}

    {{formGroup systemFields.rightArmStopping value=document.system.rightArmStopping localize=true hint='WITCHER.Armor.locationRightArm'}}
    {{formGroup systemFields.rightArmMaxStopping value=document.system.rightArmMaxStopping localize=true hint='WITCHER.Armor.locationRightArm'}}

    {{formGroup systemFields.leftLegStopping value=document.system.leftLegStopping localize=true hint='WITCHER.Armor.locationLeftLeg'}}
    {{formGroup systemFields.leftLegMaxStopping value=document.system.leftLegMaxStopping localize=true hint='WITCHER.Armor.locationLeftLeg'}}

    {{formGroup systemFields.rightLegStopping value=document.system.rightLegStopping localize=true hint='WITCHER.Armor.locationRightLeg'}}
    {{formGroup systemFields.rightLegMaxStopping value=document.system.rightLegMaxStopping localize=true hint='WITCHER.Armor.locationRightLeg'}}
</div>