<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="flex header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="flex">
                <label>{{localize "WITCHER.globalModifier.isActive"}}
                    <input type="checkbox" name="system.isActive" {{checked item.system.isActive}} />
                </label>
            </div>
        </div>
    </header>
    <label><b>{{localize "WITCHER.Item.Description"}}</b></label>
    <textarea rows=5 name="system.description">{{item.system.description}}</textarea>

    <div class="sheet-tabs tabs row" data-group="primary">
        <b class="item" data-tab="data">{{localize "WITCHER.globalModifier.tab"}}</b>
        <b class="item" data-tab="effects">{{localize "WITCHER.activeEffect.tab"}}</b>
    </div>

    <div class="sheet-body">
        <div class="flex" data-group="primary" data-tab="data">
            <div class="global-modifier-column">
                <b>{{localize "WITCHER.Actor.StatTitle.LableLeft"}} </b><a class="add-modifier-stat"><i
                        class="fas fa-plus"></i></a>
                {{#each item.system.stats as |stat index|}}
                    <div class="flex list-item" data-id="{{stat.id}}" data-type="stat">
                        <a class="remove-modifier-stat"><i class="fas fa-minus"></i></a>
                        <select class="modifiers-edit" data-field="stat">
                            {{selectOptions ../globalModifierConfig.stats blank='' selected=stat.stat nameAttr='name' valueAttr="name" labelAttr="labelShort" localize=true}}
                        </select>
                        <input class="modifiers-edit" data-field="modifier" type="text" value="{{stat.modifier}}" />
                    </div>
                {{/each}}
            </div>
            <div class="global-modifier-column">
                <b>{{localize "WITCHER.Actor.StatTitle.Derived"}} </b><a class="add-modifier-derived"><i
                        class="fas fa-plus"></i></a>
                {{#each item.system.derived as |derived index|}}
                    <div class="flex list-item" data-id="{{derived.id}}" data-type="derived">
                        <a class="remove-modifier-derived"><i class="fas fa-minus"></i></a>
                        <select class="modifiers-edit-derived" data-field="derivedStat">
                            {{selectOptions ../globalModifierConfig.derivedStats blank='' selected=derived.derivedStat nameAttr='name' valueAttr="name" labelAttr="labelShort" localize=true}}
                        </select>
                        <input class="modifiers-edit-derived" data-field="modifier" type="text"
                            value="{{derived.modifier}}" />
                    </div>
                {{/each}}
            </div>
            <div class="global-modifier-column">
                <b>{{localize "WITCHER.Monster.SkillTab"}} </b><a class="add-modifier-skill"><i
                        class="fas fa-plus"></i></a>
                {{#each item.system.skills as |skill index|}}
                    <div class="flex list-item" data-id="{{skill.id}}">
                        <a class="remove-modifier-skill"><i class="fas fa-minus"></i></a>
                        <select class="modifiers-edit-skills" data-field="skill">
                            {{selectOptions ../config.skillMap blank='' selected=skill.skill nameAttr='name' valueAttr="name" labelAttr="label" localize=true}}
                            {{selectOptions ../config.skillGroups blank='' selected=skill.skill nameAttr='name' valueAttr="name" labelAttr="label" localize=true}}
                        </select>
                        <input class="modifiers-edit-skills" data-field="modifier" type="text"
                            value="{{skill.modifier}}" />
                    </div>
                {{/each}}
            </div>
            <div class="global-modifier-column">
                <b>{{localize "WITCHER.globalModifier.special"}} </b><a class="add-modifier-special"><i
                        class="fas fa-plus"></i></a>
                {{#each item.system.special as |special index|}}
                    <div class="flex list-item" data-id="{{special.id}}">
                        <a class="remove-modifier-special"><i class="fas fa-minus"></i></a>
                        <select class="modifiers-edit-special" data-field="special">
                            {{selectOptions ../globalModifierConfig.special blank='' selected=special.special nameAttr='id' valueAttr="id" labelAttr="name" localize=true}}
                        </select>
                    </div>
                {{/each}}
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> systems/TheWitcherTRPG/templates/partials/effect-part.hbs}}
        </div>
    </div>
</form>