<a class="char-stat-button" data-skill="{{name}}" data-stat={{stat}}>
    <div class="label">
        <span>{{localize skill.label}}</span>
        {{#if (gte skill.value 0)}}
            <span>+{{skill.value}}</span>
        {{else}}
            <span>{{skill.value}}</span>
        {{/if}}
    </div>
    {{#if (or skill.isProfession skill.isPickup skill.isLearned)}}
        <div class="skill-icons">
            {{#if skill.isProfession}}
                <i data-tooltip="{{localize 'WITCHER.SKill.profession'}}" class="fa-solid fa-briefcase"></i>
            {{/if}}
            {{#if skill.isPickup}}
                <i data-tooltip="{{localize 'WITCHER.SKill.pickup'}}" class="fa-solid fa-check-to-slot"></i>
            {{/if}}
            {{#if skill.isLearned}}
                <i data-tooltip="{{localize 'WITCHER.SKill.learn'}}" class="fa-solid fa-chalkboard-user"></i>
            {{/if}}
        </div>
    {{/if}}
</a>