<section class="tab {{tabs.stats.cssClass}} standard-form" data-group="primary" data-tab="stats">
    <div class='character-statistics'>
        <div class='char-stat-title margin-right'>
            <label>{{localize 'WITCHER.Item.Attribute'}}</label>
            <a data-action="openModifiers" data-type="stats"><i class="fas fa-edit"></i></a>
        </div>
        <div class='stat-grid'>
            {{#each system.stats as |details stat|}}
                {{#unless (eq (localize details.label) (localize 'WITCHER.Actor.Stat.Toxicity'))}}
                    <a class='stat-display char-stat-button stat-roll' data-stat='{{stat}}'>
                        <div class="label">
                            <span>{{localize details.label}}</span>
                            {{#if (gte details.value 0)}}
                                <span>+{{details.value}}</span>
                            {{else}}
                                <span>{{details.value}}</span>
                            {{/if}}
                        </div>
                        <div class="mod">
                            {{#if (gte details.max 0)}}
                                <span class="max">+{{details.max}}</span>
                            {{else}}
                                <span class="max">{{details.max}}</span>
                            {{/if}}
                            {{#if (gte (formatModLabel details.value details.max) 0)}}
                                <span
                                    class="{{#if (gt details.value details.max)}}stat-mod-plus{{else if (eq details.value details.max)}}stat-mod-zero{{else}}stat-mod-minus{{/if}}">+{{formatModLabel details.value details.max}}</span>
                            {{else}}
                                <span
                                    class="{{#if (gt details.value details.max)}}stat-mod-plus{{else if (eq details.value details.max)}}stat-mod-zero{{else}}stat-mod-minus{{/if}}">{{formatModLabel details.value details.max}}</span>
                            {{/if}}
                        </div>
                    </a>
                {{/unless}}
            {{/each}}

            <div class='total-stats'>
                <h4 class='total-stats-label'>{{localize 'WITCHER.Actor.TotalStats'}}: {{totalStats}}</h4>
            </div>
            {{#if (or isGM displayRep)}}
                <a class='stat-display char-stat-display char-stat-button reputation-button reputation-roll'
                    data-type='reputation' data-stat='reputation'>
                    <div class="label">
                        <span>{{localize 'WITCHER.Reputation'}}</span>
                        {{#if (gte system.reputation.value 0)}}
                            <span>+{{system.reputation.value}}</span>
                        {{else}}
                            <span>{{system.reputation.value}}</span>
                        {{/if}}
                    </div>
                    <div class="mod">
                        {{#if (gte system.reputation.value 0)}}
                            <span class="max">+{{system.reputation.value}}</span>
                        {{else}}
                            <span class="max">{{system.reputation.value}}</span>
                        {{/if}}
                        {{#if (gte (formatModLabel system.reputation.value system.reputation.max) 0)}}
                            <span
                                class="{{#if (gt system.reputation.value system.reputation.max)}}stat-mod-plus{{else if (eq system.reputation.value system.reputation.max)}}stat-mod-zero{{else}}stat-mod-minus{{/if}}">+{{formatModLabel system.reputation.value system.reputation.max}}</span>
                        {{else}}
                            <span
                                class="{{#if (gt system.reputation.value system.reputation.max)}}stat-mod-plus{{else if (eq system.reputation.value system.reputation.max)}}stat-mod-zero{{else}}stat-mod-minus{{/if}}">{{formatModLabel system.reputation.value system.reputation.max}}</span>
                        {{/if}}
                    </div>
                </a>
            {{/if}}
        </div>
    </div>
    <div class='core-stats-list'>
        <div class='char-stat-title'>
            <label>{{localize 'WITCHER.Actor.StatTitle.Derived'}}</label>
            <a data-action="openModifiers" data-type="derived"><i class="fas fa-edit"></i></a>
        </div>
        <div class='stat-grid'>
            {{#each system.derivedStats as |details derStat|}}
                <div class='stat-display char-derived-button' data-type='derStat' data-stat='{{derStat}}'>
                    <div class="label">
                        <span>{{localize details.label}}</span>
                        {{#if (gte details.value 0)}}
                            <span>+{{details.value}}</span>
                        {{else}}
                            <span>{{details.value}}</span>
                        {{/if}}
                    </div>
                    <div class="mod">
                        {{#if (gte details.max 0)}}
                            <span class="max">+{{details.max}}</span>
                        {{else}}
                            <span class="max">{{details.max}}</span>
                        {{/if}}
                        {{#if (gte (formatModLabel details.value details.max) 0)}}
                            <span
                                class="{{#if (gt details.value details.max)}}stat-mod-plus{{else if (eq details.value details.max)}}stat-mod-zero{{else}}stat-mod-minus{{/if}}">+{{formatModLabel details.value details.max}}</span>
                        {{else}}
                            <span
                                class="{{#if (gt details.value details.max)}}stat-mod-plus{{else if (eq details.value details.max)}}stat-mod-zero{{else}}stat-mod-minus{{/if}}">{{formatModLabel details.value details.max}}</span>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>