<div class="active-effects-section">
    {{> systems/TheWitcherTRPG/templates/partials/effect-part.hbs}}
</div>

<div style="" class="">
    <div class="flex crit-wound-section">
        <div class="crit-wounds">
            <div class="item-name crit-wounds-header">
                <h2 class="crit-wounds-header-name">{{localize "WITCHER.CritWound.Header"}}</h2>
                <a class="add-crit"><i class="fas fa-plus"></i></a>
            </div>
            {{> "systems/TheWitcherTRPG/templates/partials/crit-wounds-table.hbs"}}
        </div>
    </div>
    <div class="special-skill-section">
        <div class="special-skill-header">
            <h2 class="special-skill-header-name">{{localize "WITCHER.Actor.SpecialSkillModifier"}}</h2>
        </div>
        <div class="special-skill-list">
            {{#each system.specialSkillModifiers as |special index|}}
                <div class="flex list-item special-skill-row" data-id="{{special.id}}">
                    <select class="edit-special-skill-modifier">
                        {{selectOptions ../config.specialModifier blank='' selected=special.modifier nameAttr='id' valueAttr="id" labelAttr="name" localize=true}}
                    </select>
                    <a class="remove-special-skill-modifier"><i class="fas fa-minus"></i></a>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="global-modifiers-section">
    {{#if globalModifiers}}
        <div>
            <h2>{{localize "WITCHER.background.globalModifier"}}
            </h2>
        </div>
        {{#each globalModifiers as |globalModifier ev|}}
            <div class="item flex" data-item-id="{{globalModifier.id}}">
                <a class="item-edit"><i class="fas fa-edit"></i></a>
                <img src="{{globalModifier.img}}" class="item-img" />
                <div class="modifier-display">
                    <label><b>{{globalModifier.name}}</b></label>
                    <div class="flex">
                        <label>{{localize "WITCHER.globalModifier.isActive"}}</label>
                        <input class="inline-edit" data-field="system.isActive" type="checkbox"
                            value={{globalModifier.system.isActive}} {{checked globalModifier.system.isActive}} />
                    </div>
                </div>
                <div class="modifier-display">
                    {{#each globalModifier.system.stats as |stat index|}}
                        <div>{{ localize (lookup (lookup ../../config.statMap stat.stat) "labelShort") }}:
                            {{stat.modifier}}
                        </div>
                    {{/each}}
                </div>
                <div class="modifier-display">
                    {{#each globalModifier.system.derived as |derived index|}}
                        <div>{{ localize (lookup (lookup ../../config.statMap derived.derivedStat) "labelShort") }}:
                            {{derived.modifier}}
                        </div>
                    {{/each}}
                </div>
                <div class="modifier-display">
                    {{#each globalModifier.system.skills as |skill index|}}
                        <div>{{ localize (lookup (lookup ../../config.skillMap skill.skill) "label") }}:
                            {{skill.modifier}}
                        </div>
                    {{/each}}
                </div>
                <textarea rows=3>{{globalModifier.system.description}}</textarea>
                <a class="item-delete"><i class="fas fa-trash-alt"></i></a>
            </div>
        {{/each}}
    {{/if}}
</div>