<section class="tab scrollable{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{#if isItemEffect}}
        {{formGroup systemFields.applySelf value=document.system.applySelf localize=true}}
        {{formGroup systemFields.applyOnTarget value=document.system.applyOnTarget localize=true}}
        {{#unless document.isTemporaryItemImprovement}}
            {{formGroup systemFields.applyOnHit value=document.system.applyOnHit localize=true}}
            {{formGroup systemFields.applyOnDamage value=document.system.applyOnDamage localize=true}}
        {{/unless}}
    {{/if}}
</section>